@charset "UTF-8";
/* base_position.css */
:root{
  --color-point:#fa7;
  --color-green:#afa;
  --color-black2:#333;
  --color-bg:#ddd;
  --color-white:#fff;
} /*전역변수*/

/* Reset.css */
html,body{margin:0;
color: #333;
color: var(--color-font);}
h1,h2,h3,h4,h5,h6{margin: 0;}
ul,ol,li{padding: 0;margin: 0;list-style: none;}
a{text-decoration: none; color: inherit;}
button{border: 0; background-color: transparent;cursor: pointer; border-radius: 0;}

/* Common.css */
.blind{display: block;width: 0;height:0;overflow: hidden;}
.clearfix{height: auto;}
.clearfix:after,
.clearfix::after{content: "";display: block;clear: both;width: 100%;height: 0;}


/* Design */

/* layout_01================== */

.layout_01{
position: relative;
width: 800px;height: auto; margin:0 auto;
background-color:var(--color-bg);}

.button_wrap{--size-button:40px;
position: absolute;z-index: 100; top: 50%;left: -20px; left:calc(var(--size-button) / -2);
width: 840px;width: calc(100% + var(--size-button));
height: 0;
background-color: var(--color-green);}

.button_wrap button{width: var(--size-button); height: var(--size-button);
background-color:var(--color-black2);}

.button_wrap .next_btn{float: right;}
.button_wrap .prev_btn{float: left;}


.card_wrap{width: 100%;height: 240px;margin-top: 20px;}
.card_wrap > li{
  position:relative;
  float: left;
  width: 180px;height: 240px;
  margin-right: 25px;
  border: 1px solid var(--color-black2); box-sizing: border-box;
  background-color: var(--color-white);
}

.card_wrap > li:nth-child(4){margin-right: 0;}
.card_wrap a{display: block;width: 100%;height: 100%;}

.tag{
position:absolute; top: 0;left: 0;
width: 50px;height: 60px;
background-color: var(--color-point);}

.image{width: 100%;height: 180px;
background-image: linear-gradient(45deg, #adf,#fda);}

/* layout_02====================== */

.layout_02{width: 1200px; height: auto;
min-height: 300px;
margin: 30px auto;
background-color: var(--color-bg);}

h2{width: 100%;max-width: 1200px;height: auto;
margin-bottom: 30px;padding-top: 10px;
border-bottom: 1px solid var(--color-black2);
font-size: 24px;}

.product_wrap{
  position: relative;
  width: 80%; height: auto;
  margin: 0 auto; 
  padding-bottom: 100px;
  background-color: var(--color-white);
}

.product_wrap:after,
.product_wrap::after{content: ""; display: block;
position: absolute;bottom: -20px; left: 0;right: 0;
width: 50%;height: 2px;
margin: 0 auto;
background-color: var(--color-green);}

.more_button{
  position: absolute;bottom:20px;left: 0;right:0;margin:auto;
  width: 200px; height: 50px;}

.more_button button{width: 100%;height:100%;
color: var(--color-white);
font-size: 18px;
font-weight: 700;
background-color: var(--color-point);}

.product_wrap ul{width: 100%;height: auto;
box-sizing: border-box;
padding:0 30px;}

.product_wrap li{
width: 100%; height: 40px;
margin-bottom: 30px;
border: 1px solid var(--color-black2);
box-shadow: 5px 5px 5px #777;
box-sizing: border-box;
background-color: #adf;}

.product_wrap a{display: block;width: 100%; height: 100%;background-color: var(--color-white);
transition: 0.3s;}
.product_wrap a:hover{background-color: var(--color-point);}
.product_wrap a:focus{background-color: var(--color-green); color: var(--color-point);}